.dataList {
    text-align: center;
}

.listItem{
   display: block; 
   margin:auto;
   float: none;
   overflow: hidden;
   width: 80%;
}

.anchor {
    background: #1abc9c;
    color: white;
    transition: .3s;
    opacity: 0.6;
    cursor: pointer;
}

.anchor :hover {
  opacity: 1;
  
}