.login {
    width: 50%;
    padding: 10px;
    display: block;
    text-align: center;
    display: block;
    margin:auto;
}

.loginBtn {
    margin:auto;
    display: block;
    width: 50%;
}

.button {
    margin-top: 10px;
}