form {
    width: 50%;
    padding: 10px;
    display: block;
    text-align: center;
    margin:auto;
    margin-top: 100px;
}


.loginBtn {
    margin:auto;
    width: 50%;
}

.button {
    margin-top: 10px;
}

.textField {
    margin-top: 10px;
}

